.col-2-3 {
  width: 50%;
}
.col-1-3 {
  width: 50%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
 
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

